html {
   height: 100%;
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
   scroll-behavior: smooth;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

body {
   height: 100%;
   display: flex;
   flex-direction: column;
   font-family: "Arial", "sans-serif";
   font-size: 16px;
   line-height: 1.5;
   margin: 0;
   padding: 0;
   background-color: rgb(48,129,187);
}

.container {
   width: 100%;
   max-width: 1040px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: auto;
   margin-right: auto;
   background-color: cadetblue;
}

.movies__list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
   list-style-type: none;
}

.movies__item {
   position: relative;
   z-index: 1;
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   margin-right: 10px;
   text-align: center;
}