html {
   height: 100%;
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
   scroll-behavior: smooth;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

body {
   height: 100%;
   display: flex;
   flex-direction: column;
   font-family:monospace"Arial", "sans-serif";
   font-size: 16px;
   line-height: 1.5;
   margin: 0;
   padding: 0;
   background-color: rgb(48,129,187);
}

.container {
   width: 100%;
   height: 800px;
   max-width: 1040px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: auto;
   margin-right: auto;
   background-color: cadetblue;
}

.movies__list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
   list-style-type: none;
}

.movies__item {
   position: relative;
   z-index: 1;
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   margin-right: 10px;
   border-radius: 5px;
   text-align: center;
}

.movies__item:hover {
   z-index: 5;
}

.movies-card__link{
   display: block;
   border-radius: 5px;
   overflow: hidden;
}

.movies-card__img {
   position: relative;
   z-index: 2;
   display: block;
}

.movies-card__info {
   position: absolute;
   z-index: 1;
   top: 20px;
   left: -20px;
   right: -20px;
   padding-top: 370px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 5px;
   overflow: hidden;
   background-color: #fff;
   transition: color 0.4s ease, transform 0.4s ;
}

/* .movies__item:hover .movies-card__info {
 display: block;
 opacity: 1;
} */

.movies-card__name {
   margin-top: 0;
   font-size: 23px;
   font-weight: bold;
   font-family: monospace;
   text-transform: uppercase;
   transition: color 0.3s ease, transform 0.5s cubic-bezier(.03,1.28,.21,1.78);
}
.movies-card__name:hover {
   color:rgb(30, 76, 109);
   transform: scale(1.1);
}

.movies-card__tagline {
   margin-top: 0;
   font-size: 15px;
   color: rgb(77, 77, 77);
}

.movies-card__priecs {
   display: flex;
   flex-direction: column;
}
.movies-card__price {

   color: rgb(77, 77, 77);
   font-size: 14px;
}
.old {   
   font-weight: bold;
   font-size: 18px;
   color:rgb(29, 192, 37);
   transition: color 0.3s ease, transform 0.5s cubic-bezier(.03,1.28,.21,1.78);
}
.movies-card__priecs:hover .old {
   color:rgb(51, 73, 199);
   transform: scale(1.1); 
}